<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex align-items-center justify-content-center h-100">
      <div class="col-md-8 col-lg-7 col-xl-6">
        <img
          src="https://cdni.iconscout.com/illustration/premium/thumb/reset-login-code-4571941-3805762.png"
          class="img-fluid"
          alt="Phone image"
        />
      </div>
      <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
        <form>
          <!-- Email input -->
          <div class="form-outline mb-4">
            <input
              type="email"
              id="email"
              class="form-control form-control-lg"
            />
            <label class="form-label" for="email">Email address</label>
          </div>

          <div class="form-outline mb-4 text-end">
            <!-- Checkbox -->
            <div class="form-label">
              <a routerLink="../login">Already have an account?</a>
            </div>
          </div>

          <!-- Submit button -->
          <button type="submit" class="btn btn-primary btn-lg btn-block">
            Submit
          </button>
        </form>
      </div>
    </div>
  </div>
</section>
