<!-- <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button>
        <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
      </button>
      <span>Landing Nav Bar</span>
    </mat-toolbar-row>
  </mat-toolbar>
  
  <mat-sidenav-container>
    <mat-sidenav #sidenav mode="side">
      <mat-nav-list>
        <a mat-list-item>Home</a>
        <a mat-list-item>House</a>
        <a mat-list-item>Car</a>
        <a mat-list-item>Money</a>
      </mat-nav-list>
    </mat-sidenav>
  
    <mat-sidenav-content>
      <div style="height: 88vh">
  
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container> -->